params {
  project_folder  = "$PWD"

  macs3_output    = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-macs3/macs3_output"
  idr_output      = "idr_output"
  idr_pairs_csv   = "idr_pairs.csv"
  
  chipfilter_output   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output"
  do_pseudo_idr      = false                  
  pseudo_idr_bam_csv = "pseudo_idr_bam.csv"   
  macs3_genome       = 'mm'                   

  container_idr   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/idr-2.0.3macs2.sif"

  idr_threshold   = 0.1  

  cpus   = 2
  memory = '8 GB'
  time   = '4h'
}

process {
  executor = 'slurm'
  cpus     = params.cpus
  memory   = params.memory
  time     = params.time
  container = params.container_idr
  
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
